body {
  box-sizing: border-box;
  background-color: #F9F9F9;
}

.maxsite {
  margin: 0 auto;
  max-width: 900px;
}
@media (min-width: 901px) {
  .maxsite {
    max-width: 1800px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 901px) {
  .header {
    display: inline-block;
  }
}

.header__body {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header__body__logo {
  width: 100%;
}
@media (min-width: 1150px) {
  .header__body {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  height: 150px;
  margin: 0;
  border-top: 2px solid #232C57;
  border-bottom: 2px solid #232C57;
  padding-left: 0;
}
.menu__box {
  transition-property: transform;
  transition-duration: 0.2s;
}
.menu__box:active {
  transform: scale(0.9);
}
.menu__option {
  text-decoration: none;
  color: #232C57;
  font-size: 14px;
  font-weight: 600;
  font-family: "Lora", serif;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
}
@media (min-width: 901px) {
  .menu__option {
    margin: 15px;
    font-size: 24px;
    font-weight: 600;
  }
}
.menu__option:hover {
  color: #CD0046;
  text-shadow: 2px 4px 4px 4px rgb(7, 6, 6);
}
@media (min-width: 901px) {
  .menu {
    flex-direction: row;
    justify-content: center;
    border-top: none;
    height: auto;
    margin: 10px;
    padding-bottom: 5px;
  }
}
@media (min-width: 1150px) {
  .menu {
    margin: 0;
    padding-bottom: 0;
    border: none;
    height: auto;
  }
}

.quote {
  margin-top: 0;
  background-color: #F9F9F9;
  padding: 20px;
  text-align: center;
  font-family: "Lora", serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 0;
  color: black;
  letter-spacing: 1.6;
  font-size: 14px;
}

.background {
  background-image: url(/images/wood-pozadi.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100%;
  padding-bottom: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 901px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 20px;
  }
}
@media (min-width: 1150px) {
  .main {
    grid-template-rows: auto auto auto;
    gap: 30px;
  }
}

.book-info {
  margin-top: 0;
  font-family: "Lora", serif;
  line-height: 1.5;
  font-size: 14px;
  order: 2;
}
.book-info__text {
  margin: 30px;
  background-color: #F9F9F9;
  opacity: 90%;
  padding: 30px;
  border-radius: 5px;
}
.book-info__questions {
  margin: 30px;
  background-color: #F9F9F9;
  opacity: 90%;
  padding: 30px;
  border-radius: 5px;
}
@media (min-width: 901px) {
  .book-info__questions {
    width: 900px;
  }
}
@media (min-width: 1150px) {
  .book-info__questions {
    width: auto;
  }
}
.book-info__header {
  margin-top: 0;
  font-family: "Lora", serif;
  font-size: 24px;
}
.book-info__name1 {
  font-size: 24px;
  color: #232C57;
  margin-bottom: 30px;
}
.book-info__name2 {
  color: #CD0046;
  font-weight: bold;
  font-size: 24px;
}
.book-info__bold {
  font-weight: bold;
}
@media (min-width: 901px) {
  .book-info {
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
  }
}
@media (min-width: 1150px) {
  .book-info {
    grid-row: 1;
    grid-column: 2/3;
    display: block;
    font-size: 16px;
  }
}

.book-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  order: 1;
}
.book-image__cover {
  width: 380px;
  margin-top: 30px;
  border: 0.5px solid rgb(147, 138, 138);
  box-shadow: 1px 3px 3px 2px rgb(218, 217, 217);
  display: block;
  border-radius: 5px 0 0 5px;
  border-left: 3px solid rgb(61, 59, 59);
}
@media (min-width: 1150px) {
  .book-image__cover {
    width: 500px;
    justify-content: flex-start;
  }
}
.book-image__bottom {
  background-color: #CD0046;
  padding: 10px 30px;
  color: white;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 1.7;
  font-weight: 600;
  box-shadow: 1px 1px 1px 1.5px rgb(218, 217, 217);
  border-radius: 5px;
  transition-property: transform;
  transition-duration: 0.3s;
}
.book-image__bottom:hover {
  transform: scale(1.1);
  background-color: #a91244;
}
.book-image__bottom:active {
  transform: scale(1);
}
@media (min-width: 901px) {
  .book-image {
    grid-column: 1/3;
    grid-row: 1;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    order: none;
  }
}
@media (min-width: 1150px) {
  .book-image {
    grid-column: 1/2;
  }
}

.book-benefits-text {
  padding: 20px;
  margin: 30px;
  background-color: #F9F9F9;
  opacity: 90%;
  padding: 50px;
  font-family: "Lora", serif;
  line-height: 1.7;
  order: 4;
  font-size: 14px;
  border-radius: 5px;
}
.book-benefits-text__header {
  font-size: 18px;
}
@media (min-width: 901px) {
  .book-benefits-text {
    grid-row: 3/5;
  }
}
@media (min-width: 1150px) {
  .book-benefits-text {
    grid-row: 2;
    font-size: 16px;
  }
}

.book-benefits-photo {
  align-items: center;
  margin: 30px;
  order: 3;
}
@media (min-width: 1150px) {
  .book-benefits-photo {
    grid-row: 2;
    grid-column: 2/3;
  }
}
.book-benefits-photo__img {
  width: 100%;
  margin: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.reading-tips__photo {
  align-items: center;
  margin: 30px;
  order: 5;
}
@media (min-width: 1150px) {
  .reading-tips__photo {
    grid-column: 1/2;
  }
}
.reading-tips__photo__img {
  width: 100%;
}

.reading-tips__text {
  background-color: #F9F9F9;
  opacity: 90%;
  padding: 50px;
  font-size: 14px;
  font-family: "Lora", serif;
  line-height: 1.7;
  order: 6;
  margin: 30px;
  border-radius: 5px;
}
.reading-tips__text__header {
  font-size: 16px;
  color: white;
}
@media (min-width: 901px) {
  .reading-tips__text {
    grid-column: 1/3;
    grid-row: 5;
  }
}
@media (min-width: 1150px) {
  .reading-tips__text {
    grid-column: 2/3;
    grid-row: 3;
    font-size: 16px;
  }
}

.reviews {
  width: 100%;
  margin: 30px;
}
.reviews__header {
  color: #CD0046;
  font-size: 24px;
  text-shadow: 1px 1px 1px 2px rgb(14, 13, 13);
  width: 320px;
  background-color: #F9F9F9;
  opacity: 90%;
  padding: 10px;
  border-radius: 5px;
  font-family: "Lora", serif;
}
.reviews__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px;
  gap: 40px;
  text-align: center;
  margin: 30px 0;
  overflow-x: scroll;
}
.reviews__box {
  width: 300px;
  padding: 20px;
  background-color: #CD0046;
  color: white;
  border-radius: 10px;
}
.reviews__text {
  font-family: "Lora", serif;
  font-size: 14px;
  line-height: 1.7;
}
.reviews__text br {
  margin-bottom: 20px;
}
.reviews__name {
  border-top: 1px solid white;
  padding-top: 10px;
}

.footer {
  background-image: linear-gradient(#FFE7F7, #CD0046);
  height: auto;
  padding: 30px 30px 10px 30px;
  font-family: "Lora", serif;
  margin-top: 30px;
  font-size: 12px;
}
.footer__info {
  display: flex;
  justify-content: space-between;
}
.footer__buy-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
}
.footer__rigts {
  text-align: center;
  font-size: 12px;
  margin-top: 40px;
}
.footer__file, .footer__instagram {
  color: black;
  text-decoration: none;
}
.footer__instagram {
  background-image: url(/images/instagram-ikona.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: left;
  padding-left: 20px;
}
.footer__kontakt-info {
  margin-left: 20px;
}
.footer__kontakt-info p {
  margin: 5px;
}

.about-writer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 9 auto;
  gap: 20px;
}
.about-writer__text {
  font-family: "Lora", serif;
  line-height: 1.5;
  font-size: 14px;
  margin: 10px 30px 10px 30px;
  background-color: #F9F9F9;
  opacity: 90%;
  padding: 30px;
  border-radius: 5px;
}
.about-writer__photo {
  width: 100%;
  border-radius: 5px;
}
.about-writer__photo-box {
  margin: 10px 30px 10px 30px;
}
@media (min-width: 1150px) {
  .about-writer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat 3 auto;
  }
}/*# sourceMappingURL=style.css.map */