@use 'variables';

// ****** O autorce - začátek ******

.about-writer {
    background-color: variables.$background-color;
    margin: 40px 20px;
    padding: 20px 10px;
    border-radius: 5px;

     &__header {
        margin-top: 0;
        border-bottom: 1px solid black;
    }

    &__grid { 

        @media (min-width:901px) { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


     @media (min-width:1150px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3 auto);
        gap: 5px;
        align-items: normal;

    }

  

    }

    &__text1,
    &__text3 {
    font-family: variables.$second-font-family;
    line-height: 1.5;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;

     @media (min-width:1150px) {
        font-size: 14px;
     }

     @media (min-width:1500px) {
        font-size: 16px;
     }
       
    }

     &__text2 {
    font-family: variables.$second-font-family;
    line-height: 1.5;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;

     @media (min-width:1150px) {
        font-size: 14px;
        grid-column: 2/3;
     }
       @media (min-width:1500px) {
        font-size: 16px;
     }
       
    }
    
    &__photo {
        width: 100%;
        border-radius: 5px;
        margin: 0;
        
    }

    &__photo-box1,
    &__photo-box2,
    &__photo-box3{
        margin: 10px;
      }

    &__photo-box2 {
         @media (min-width:1150px) {
            grid-column: 1/2;
            grid-row: 2;
         }
    }  

}

// ****** O autorce - konec ******