@use 'variables';

//***** O knize - zacatek *****

.background {
    background-image: url(/images/wood-pozadi.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.main {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    
    @media (min-width:901px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 20px;
    align-items:normal;
    }
    

    @media (min-width:1150px)  {
    
    grid-template-rows: auto auto auto;
    gap: 30px;
    
    }
    
    }




.book-info {
    margin-top: 0;
    font-family: variables.$second-font-family;
    line-height: 1.5;
    font-size: 14px;
    order: 2;
 

    &__text {
        margin: 30px;
        background-color: variables.$background-color;
        opacity: 90%;
        padding: 20px;
        border-radius: 5px;
       
      
    }
    

    &__questions {
        margin: 30px;
        background-color: variables.$background-color;
        opacity: 90%;
        padding: 30px;
        border-radius: 5px;

         @media (min-width:901px) {
        width: 900px;
    }

         @media (min-width:1150px) {
        width: auto;
         }
         

   
    }
    
    &__header {
        margin-top: 0;
        font-family: variables.$second-font-family;
        font-size: variables.$fontsize-h2;
        
    } 
    &__name1 {
        font-size: variables.$fontsize-h2;
        color: variables.$second-color;
        margin-bottom: 30px;
       
    }

    &__name2 {
        color: variables.$primary-color;
        font-weight: bold;
        font-size: variables.$fontsize-h2;

    }
    &__bold {
        font-weight: bold;
    }

    @media (min-width:901px) {
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    }

    @media (min-width:1150px) {
    grid-row: 1;
    grid-column: 2/3;
    display: block;
    font-size: 16px;
    }

     @media (min-width:1500px) {
            font-size: 16px;
     }

   
}

.book-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    order: 1;
    



 
  

    &__cover {
        width: 280px;
        margin-top: 30px;
        border: 0.5px solid rgb(147, 138, 138);
        box-shadow: 2px 3px 3px 2px rgb(218, 217, 217);
        display: block;
        border-radius: 5px 0 0 5px;
        
       
    @media (min-width:600px) {
        width: 380px;
    }


    @media (min-width:1150px) {
        width: 440px;
        justify-content: flex-start;
    }

   

  
        
        
    }

    &__bottom {
    background-color: variables.$primary-color;
    padding: 10px 30px;
    color: white;
    margin-top: 40px;
    font-family: variables.$main-font-family;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 1.7;
    font-weight: 600;
    box-shadow: 1px 1px 1px 1.5px rgb(218, 217, 217);
    border-radius: 5px;
    transition-property: transform;
    transition-duration: 0.3s;
}


    &__bottom:hover,
    &__bottom:focus {
         transform:scale(1.1);
         background-color: #a91244;

    }

    &__bottom:active {
         transform:scale(1);
    }

    @media (min-width:901px) {
    grid-column: 1/3;
    grid-row: 1;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    order: none;
    }

    @media (min-width:1150px) {
    grid-column: 1/2
    }

    
}



.book-benefits-text {
   
    padding: 20px;
    margin: 30px;
    background-color: variables.$background-color;
    opacity: 90%;
    padding: 20px;
    font-family: variables.$second-font-family;
    line-height: 1.7;
    order: 4;
    font-size: 14px;
    border-radius: 5px;

  
      
    

    &__header {
        font-size: 18px;
        margin-top: 0;
     @media (min-width:1150px) {
        font-size: variables.$fontsize-h2;
     }

    }

    @media (min-width:901px) {
        grid-row: 3/5;
    }

         @media (min-width:1150px) {
        grid-row: 2;
        font-size:variables.$main-fontsize;
         }
   
}

.book-benefits-photo {
  
    align-items: center;
    margin: 30px;
    order: 3;
    @media (min-width:1150px) {
        grid-row: 2;
        grid-column: 2/3;

    
        
    }

    &__img {
    width: 100%;
    border-radius: 5px;
   /* margin: 0;
    object-fit: cover;*/

    }
}

.reading-tips__photo {
    align-items: center;
    margin: 30px;
    order: 5;

     @media (min-width:1150px) {
         grid-column: 1/2;
     }
    

    &__img {
    width: 100%;
    border-radius: 5px;

    }
}
 .reading-tips__text {
    background-color: variables.$background-color;
    opacity: 90%;
    padding: 20px;
    font-size: 14px;
    font-family: variables.$second-font-family;
    line-height: 1.7;
    order: 6;
    margin: 30px;
    border-radius: 5px;
    

    &__header {
        font-size: 16px;
        color: white;
    }

     @media (min-width:901px) {
        grid-column: 1/3;
        grid-row: 5;
    }

         

     @media (min-width:1150px) {
        grid-column: 2/3;
        grid-row: 3;
        font-size: variables.$main-fontsize;
     }
    }
 

.reviews {
    width: 100%;
    margin: 30px;

    &__header {
        color: variables.$primary-color;
        font-size: 24px;
        text-shadow:  1px 1px 1px 2px rgb(14, 13, 13);
        width: 320px;
        background-color: variables.$background-color;
        opacity: 90%;
        padding: 10px;
        border-radius: 5px;
        font-family: variables.$second-font-family;
     
        
    }

    &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 300px;
    gap: 40px;
    text-align: center;
    margin: 30px 0;
    overflow-x:scroll;
    }

    &__box {
        width: 300px;
        padding: 20px;
        background-color: variables.$primary-color;
        color: white;
        border-radius: 10px;

         @media (min-width:1150px) {
            width: 400px;
         }
    }

    &__text {
        font-family: variables.$second-font-family;
        font-size: 14px;
        line-height: 1.7;

        
     @media (min-width:1150px) {
        font-size: 16px;
     }

    }
    &__text br {
        margin-bottom: 20px;
    }

    &__name {
        border-top: 1px solid white;
        padding-top: 10px;
       
    }
   

}

// ****** O knize - konec ******