@use 'variables';

// ****** Blog - začátek ******

.blog {
   
    margin: 20px 20px;
    padding: 0px 10px;

    &__name1 {
        
        font-size: 18px;
        line-height: 1.8;
        font-weight: bold;
        display: block;
        cursor: pointer;
        margin-bottom: 10px;
        position: relative;

        @media (min-width:901px) {
        font-size: 22px
        }
        
    }

    &__toggle {
    display: none;
    }

    &__name1::before {
    content: none;
    }

    &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.8;
    }

     &__name1::after {
    content: "▼";
    position: absolute;
    right: 0;
    transition: transform 0.3s;
    font-weight: 700
    }

    &__content {
    max-height: 10px;
    overflow: hidden;
    transition: max-height 0.4s ease;
    }



    &__date {
         font-weight: 500px;
        font-size: 16px;
        line-height: 1.8;

        @media (min-width:901px) {
        font-size: 20px
        }
        
    }
   

    &__head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 1.5;
        font-family: variables.$second-font-family;
        padding: 10px 5px;
        background-color: rgb(241, 234, 234);
        border-radius: 5px;
        max-width: 500px;
        //max-height: 640px;
        margin: 0 auto 20px auto;

            @media (min-width:901px) {
                  max-width: 320px;
                  //max-height: 100px;
                  //max-height: 620px;
                  font-size: 16px;
            } 
    }

    @media (min-width:901px) {
        display: grid;
        grid-template-columns: 320px 510px;
        grid-template-rows: auto auto;
        gap: 20px;
        align-items: start;
       
      
        }

    @media (min-width:1000px) {
          grid-template-columns: 320px 1fr;
    }
          

    &__header {
        border-bottom: 1px solid black;
        text-transform: uppercase;
    
     
    }

    &__second-info {
          margin-top: 30px;
        @media (max-width:901px) {
            display: none;
          
        }

    }

    &__book-image {
        @media (max-width:901px) {
            display: none;
        }
        max-width: 200px;
        margin: 20px 0;

    }

    &__email {
         color: black;
       

    }

    &__head-text {
        flex-basis: calc(60% - 40px);
        margin: 0 20px ;
        
       
    }
  

    &__photo {
        width: 100%;
        object-fit: cover;
        margin: 0px;
        flex-shrink: 0;
        flex-basis: 40%;
        text-align: center;
        border-radius: 5px;
    }

    &__article {
        background-color: variables.$background-color;
         padding: 20px 20px;
         margin-bottom: 20px;
        font-size: 18px;
        font-family: variables.$second-font-family;
       line-height: 2;
        border-radius: 5px;
        color: black;
        min-height: 250px;

         @media (min-width:901px) {
            min-height: 280px;
            font-size: 20px;
         }

    }

    &__article-photo {
        max-width: 250px;
        float: left;
        border-radius: 5px;
        margin-right: 40px;
        margin-bottom: 30px;
    

        @media (min-width:901px) {
            max-width: 300px;
        }

          @media (min-width:1100px) {
               max-width: 500px;
          }

    }

    &__article2 {
        background-color: variables.$background-color;
    }

    &__header-small {
        font-size: 24px;
        border-bottom: 1px solid  black;
        font-family: variables.$second-font-family;
        text-transform: uppercase;
    }

    &__header-collor {
         font-size: 24px;
        font-family: variables.$second-font-family;
        text-transform: uppercase;
        color: variables.$primary-color;
    }

    /* nefunguje, proč???
    &__articles:nth-child(odd) {
        background-color: $second-color;
    } */
}

.blog__toggle:checked + .blog__name1::after {
  transform: rotate(180deg);
}

.blog__toggle:checked + .blog__name1 + .blog__content {
  max-height: 640px;
}

// ****** Blog - konec ******