$background-color: #F9F9F9;
$second-color: #3a2e2a;
$primary-color: #a74561;
$main-font-family: "Playfair Display", serif;
$second-font-family: "Montserrat", sans-serif;
$main-fontsize: 16px;
$fontsize-h2: 24px;
