$background-color: #F9F9F9;
$second-color: #232C57;
$primary-color: #a74561;
$main-font-family: "Montserrat", sans-serif;
$second-font-family: "Lora", serif;
$main-fontsize: 16px;
$fontsize-h2: 24px;
