$background-color: #F9F9F9;
$second-color: #232C57;
$primary-color: #CD0046;
$main-font-family: "Montserrat", sans-serif;
$second-font-family: "Lora", serif;



body {box-sizing: border-box;
background-color: $background-color;


}

.maxsite {
    max-width: 1800px;
    margin: 0 auto;
}

//***** hlavicka - zacatek *****

.header {
    position: relative;
    margin: 0 20px;

 /*   &__logo {
        background-image: url(/images/logo_1.svg);
        background-size: 100%;
    } */
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items:center ;
}


.menu {
    display: flex;
    list-style: none;

    &__option {text-decoration: none;
        margin: 15px;
        color: $second-color;
        font-size: 20px;
        font-weight: 600;
        font-family: $second-font-family;


    }
    
    
}


/*  
@keyframes move {
    0% {transform: translate(0,0);}
    50% {transform: translate(1800px,0);}
    100% {transform: translate(0,0);}
    
}

 animation-name: move;
    animation-duration: 30s;*/

.quote {
    margin-top: 0;
    background-color: $background-color;
    width: 500px;
    padding: 20px;
    text-align: center;
    font-family: $second-font-family;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 300px;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 0;
    color: $second-color;
    letter-spacing: 1.4;
 
   
}

//***** hlavicka - konec *****

//***** O knize - zacatek *****



.main {
    background-image: url(/images/wood-pozadi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 30px;
}

.book-info {
    margin-top: 0;
    grid-column: 2/3;
    grid-row: 1;
    font-family: $second-font-family;

    &__text {
        margin: 30px;
        background-color: $background-color;
        opacity: 90%;
        padding: 20px;
        line-height: 1.5;
        width: 700px;
    }

    &__questions {
        margin: 30px;
        background-color: $background-color;
        opacity: 90%;
        padding: 20px;
        width: 700px;
    }
    
    &__header {
        margin-top: 0;
        font-family: $second-font-family;
        font-size: 18px;
        
    } 
    &__name1 {
        font-size: 18px;
        color: $second-color;
        margin-bottom: 30px;
       
    }

    &__name2 {
        color: $primary-color;
        font-weight: bold;

    }
    &__bold {
        font-weight: bold;
    }
}

.book-image {
    grid-column: 1/2;
     grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  

    &__cover {
        width: 380px;
        margin-top: 30px;
    }

    &__bottom {
    background-color: $primary-color;
    padding: 10px 30px;
    color: white;
    margin-top: 20px;
    font-family: $main-font-family;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 1.3;
    
}
}

// ****** Paticka - zacatek ******

.footer {
    background-image: linear-gradient(#FFE7F7, #CD0046);
    height: 200px;
    padding: 30px;
    font-family: $second-font-family;

    &__info {
        display: flex;
        justify-content: space-between;
        height: 90%;
        
        
    }
    &__buy-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }
    &__rigts {
        text-align: center;
        font-size: 16px;
      
    }
    &__file,
    &__instagram {
        color: black;
        text-decoration: none;
    }
    &__instagram {
        background-image: url(/images/instagram-ikona.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: left;
        padding-left: 30px;
        
    }
}