$background-color: #F9F9F9;
$second-color: #232C57;
$primary-color: #CD0046;
$main-font-family: "Montserrat", sans-serif;
$second-font-family: "Lora", serif;
$main-fontsize: 16px;
$fontsize-h2: 24px;




body {box-sizing: border-box;
background-color: $background-color;


}


.maxsite {
    margin: 0 auto;
    max-width: 900px;

    @media (min-width:901px) {
        max-width: 1800px
    }
    
}
  



//***** hlavicka - zacatek *****

.header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        @media (min-width:901px) {
            display: inline-block;
        }
       
     }
   

 


.header__body {
    display: flex;
    flex-direction: column;
    text-align: center;


   &__logo {
    width: 100% ;
    
     }
     
    @media (min-width:1150px) {
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
 
    }
       
    }



.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    height: 150px;
    margin: 0;
    border-top: 2px solid $second-color;
    border-bottom: 2px solid $second-color;
    padding-left: 0;
  
   
    &__box {
          transition-property: transform;
        transition-duration: 0.2s;
    }
    

    &__box:active {
        transform: scale(0.9);
    }
    
    

    &__option {
        text-decoration: none;
        color: $second-color;
        font-size: 14px;
        font-weight: 600;
        font-family: $second-font-family;
        margin: 10px;
        padding: 10px;
        text-transform: uppercase;
      
    

        @media (min-width:901px) {
        margin: 15px;
        font-size: $fontsize-h2;
        font-weight: 600;
        }   

    }
    

    &__option:hover {
        color: $primary-color;
        text-shadow: 2px 4px 4px 4px rgb(7, 6, 6);
       
    }

   

    @media (min-width:901px) {
    flex-direction: row;
    justify-content: center;
    border-top: none;
    height: auto;
    margin: 10px;
    padding-bottom: 5px;
     }

    @media (min-width:1150px) {
    margin: 0;
    padding-bottom: 0;
    border: none;
    height: auto;
        
     }
  
}

.quote {
    margin-top: 0;
    background-color: $background-color;
    padding: 20px;
    text-align: center;
    font-family: $second-font-family;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 0;
    color: black;
    letter-spacing: 1.6;
    font-size: 14px;

   


     }
 
   


//***** hlavicka - konec *****

//***** O knize - zacatek *****

.background {
    background-image: url(/images/wood-pozadi.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.main {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    
    @media (min-width:901px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 20px;
    align-items:normal;
    }
    

    @media (min-width:1150px)  {
    
    grid-template-rows: auto auto auto;
    gap: 30px;
    
    }
    
    }




.book-info {
    margin-top: 0;
    font-family: $second-font-family;
    line-height: 1.5;
    font-size: 14px;
    order: 2;
 

    &__text {
        margin: 30px;
        background-color: $background-color;
        opacity: 90%;
        padding: 20px;
        border-radius: 5px;
       
      
    }
    

    &__questions {
        margin: 30px;
        background-color: $background-color;
        opacity: 90%;
        padding: 30px;
        border-radius: 5px;

         @media (min-width:901px) {
        width: 900px;
    }

         @media (min-width:1150px) {
        width: auto;
         }
         

   
    }
    
    &__header {
        margin-top: 0;
        font-family: $second-font-family;
        font-size: $fontsize-h2;
        
    } 
    &__name1 {
        font-size: $fontsize-h2;
        color: $second-color;
        margin-bottom: 30px;
       
    }

    &__name2 {
        color: $primary-color;
        font-weight: bold;
        font-size: $fontsize-h2;

    }
    &__bold {
        font-weight: bold;
    }

    @media (min-width:901px) {
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    }

    @media (min-width:1150px) {
    grid-row: 1;
    grid-column: 2/3;
    display: block;
    font-size: 16px;
    }

     @media (min-width:1500px) {
            font-size: 16px;
     }

   
}

.book-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    order: 1;
    



 
  

    &__cover {
        width: 380px;
        margin-top: 30px;
        border: 0.5px solid rgb(147, 138, 138);
        box-shadow: 2px 3px 3px 2px rgb(218, 217, 217);
        display: block;
        border-radius: 5px 0 0 5px;
        
       
       


    @media (min-width:1150px) {
        width: 440px;
        justify-content: flex-start;
    }

   

  
        
        
    }

    &__bottom {
    background-color: $primary-color;
    padding: 10px 30px;
    color: white;
    margin-top: 40px;
    font-family: $main-font-family;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 1.7;
    font-weight: 600;
    box-shadow: 1px 1px 1px 1.5px rgb(218, 217, 217);
    border-radius: 5px;
    transition-property: transform;
    transition-duration: 0.3s;
}


    &__bottom:hover {
         transform:scale(1.1);
         background-color: #a91244;

    }

    &__bottom:active {
         transform:scale(1);
    }

    @media (min-width:901px) {
    grid-column: 1/3;
    grid-row: 1;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    order: none;
    }

    @media (min-width:1150px) {
    grid-column: 1/2
    }

    
}



.book-benefits-text {
   
    padding: 20px;
    margin: 30px;
    background-color: $background-color;
    opacity: 90%;
    padding: 20px;
    font-family: $second-font-family;
    line-height: 1.7;
    order: 4;
    font-size: 14px;
    border-radius: 5px;

  
      
    

    &__header {
        font-size: 18px;
     @media (min-width:1150px) {
        font-size: $fontsize-h2;
     }

    }

    @media (min-width:901px) {
        grid-row: 3/5;
    }

         @media (min-width:1150px) {
        grid-row: 2;
        font-size:$main-fontsize;
         }
   
}

.book-benefits-photo {
  
    align-items: center;
    margin: 30px;
    order: 3;
    @media (min-width:1150px) {
        grid-row: 2;
        grid-column: 2/3;

    
        
    }

    &__img {
    width: 100%;
    margin: 0;
    object-fit: cover;

    }
}

.reading-tips__photo {
    align-items: center;
    margin: 30px;
    order: 5;

     @media (min-width:1150px) {
         grid-column: 1/2;
     }
    

    &__img {
    width: 100%;

    }
}
 .reading-tips__text {
    background-color: $background-color;
    opacity: 90%;
    padding: 20px;
    font-size: 14px;
    font-family: $second-font-family;
    line-height: 1.7;
    order: 6;
    margin: 30px;
    border-radius: 5px;
    

    &__header {
        font-size: 16px;
        color: white;
    }

     @media (min-width:901px) {
        grid-column: 1/3;
        grid-row: 5;
    }

         

     @media (min-width:1150px) {
        grid-column: 2/3;
        grid-row: 3;
        font-size: $main-fontsize;
     }
    }
 

.reviews {
    width: 100%;
    margin: 30px;

    &__header {
        color: $primary-color;
        font-size: 24px;
        text-shadow:  1px 1px 1px 2px rgb(14, 13, 13);
        width: 320px;
        background-color: $background-color;
        opacity: 90%;
        padding: 10px;
        border-radius: 5px;
        font-family: $second-font-family;
     
        
    }

    &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    gap: 40px;
    text-align: center;
    margin: 30px 0;
    overflow-x:scroll;
    }

    &__box {
        width: 300px;
        padding: 20px;
        background-color: $primary-color;
        color: white;
        border-radius: 10px;
    }

    &__text {
        font-family: $second-font-family;
        font-size: 14px;
        line-height: 1.7;

    }
    &__text br {
        margin-bottom: 20px;
    }

    &__name {
        border-top: 1px solid white;
        padding-top: 10px;
       
    }
   

}

// ****** O knize - konec ******


// ****** Paticka - zacatek ******

.footer {
    background-image: linear-gradient(#FFE7F7, #CD0046);
    height: auto;
    padding: 30px 30px 10px 30px;
    font-family: $second-font-family;
    margin-top: 30px;
    font-size: 12px;
        
    &__info {
        display: flex;
        justify-content: space-between;
    }
    
    &__buy-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }
    &__rigts {
        text-align: center;
        font-size: 12px;
        margin-top: 40px;
      
    }
    &__file,
    &__instagram {
        color: black;
        text-decoration: none;
    }
    &__instagram {
        background-image: url(/images/instagram-ikona.png);
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: left;
        padding-left: 20px;
        
    }

    &__kontakt-info {
        margin-left: 20px;
    }


    &__kontakt-info p {
        margin: 5px;

    }

     &__email {
        color: black;
        text-decoration: none;

    }

       @media (min-width:1150px) {
        font-size: 14px;
       }

}

// ****** Paticka - konec ******


// ****** O autorce - začátek ******

.about-writer {
    background-color: $background-color;
    margin: 40px 20px;
    padding: 20px 10px;

     &__header {
        margin-top: 0;
        border-bottom: 1px solid black;
    }

    &__grid { 

        @media (min-width:901px) { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


     @media (min-width:1150px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3 auto);
        gap: 5px;
        align-items: normal;

    }

  

    }

    &__text1,
    &__text3 {
    font-family: $second-font-family;
    line-height: 1.5;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;

     @media (min-width:1150px) {
        font-size: 14px;
     }

     @media (min-width:1500px) {
        font-size: 16px;
     }
       
    }

     &__text2 {
    font-family: $second-font-family;
    line-height: 1.5;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;

     @media (min-width:1150px) {
        font-size: 14px;
        grid-column: 2/3;
     }
       @media (min-width:1500px) {
        font-size: 16px;
     }
       
    }
    
    &__photo {
        width: 100%;
        border-radius: 5px;
        margin: 0;
        
    }

    &__photo-box1,
    &__photo-box2,
    &__photo-box3{
        margin: 10px;
      }

    &__photo-box2 {
         @media (min-width:1150px) {
            grid-column: 1/2;
            grid-row: 2;
         }
    }  

}

// ****** O autorce - konec ******

// ****** Blog - začátek ******

.blog {
   
    margin: 20px 20px;
    padding: 0px 10px;
   

    &__head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 1.5;
        font-family: $second-font-family;
        padding: 10px 5px;
        background-color: $background-color;
        max-width: 500px;
        max-height: 540px;
        margin: 0 auto 20px auto;

            @media (min-width:901px) {
                  max-width: 320px;
                  max-height: 620px;
                  font-size: 16px;
            }
    }

    @media (min-width:901px) {
        display: grid;
        grid-template-columns: 320px 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
        align-items: normal;
      
        }

    &__header {
        border-bottom: 1px solid black;
    
     
    }

    &__email {
         color: black;
       

    }

    &__head-text {
        flex-basis: calc(60% - 40px);
        margin: 0 20px ;
       
    }
  

    &__photo {
        width: 100%;
        object-fit: cover;
        margin: 0;
        flex-shrink: 0;
        flex-basis: 40%;
        text-align: center;
        border-radius: 5px;
    }

    &__article {
        background-color: $primary-color;
         padding: 20px 20px;
         margin-bottom: 20px;
        font-size: 14px;
        font-family: $second-font-family;
       line-height: 1.5;
        border-radius: 5px;
        color: rgb(252, 244, 244);
        min-height: 250px;

         @media (min-width:901px) {
            min-height: 280px;
            font-size: 16px;
         }

    }

    &__article-photo {
        max-width: 250px;
        float: left;
        border-radius: 5px;
        margin-right: 10px;
        margin-bottom: 5px;

        @media (min-width:901px) {
            max-width: 300px;
        }

    }

    &__article2 {
        background-color: $second-color;
    }

    &__header-small {
        font-size: 18px;
        border-bottom: 1px solid  rgb(252, 244, 244);
    }

    /* nefunguje, proč???
    &__articles:nth-child(odd) {
        background-color: $second-color;
    } */


    
}


