<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Povzbuzení pro mámy</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <header>
        <img src="images/Logo velké.svg" alt="logo-povzbuzeni-pro-mamy">
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </header>
    <main>
{{content | safe}}
    </main>
    <footer>

    </footer>
    
</body>
</html>