<section class="hit-info">
<p class="hit-info__text">Knihu zatím nelze koupit. Můžete si ji však zdarma přečíst, pokud máte zájem poskytnout na ni svou zpětnou vazbu. Napište na <a class="partial-mail" href="mailto:povzbuzenipromamy@gmail.com">povzbuzenipromamy@gmail.com.</a></a></p>
</section>