<section class="hit-info">
<p class="hit-info__text">Knihu zatím nelze koupit, ale můžete její vydání od října 2025 podpořit v crowdfundingové kampani na <a class="hit-info__link" href="https://www.hithit.com/cs/home">hithit.com</a></p>
</section>