<section class="hit-info">
<p class="hit-info__text">Knihu si můžete přečíst zdarma. Máte-li zájem, kontaktujte mě prosím přes <a class="partial-mail" href="/kontakt/">Kontaktní formulář</a>.</p>
</section>